<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<body>
<table th:fragment="detalle_factura" class="d-none">
	<tbody id="plantilla_detalle">
		<tr id="fila_{ID}">
			<td class="d-none">
				<input type="hidden" value="{ID}" name="detalle_id[]"/>
			</td>
			<td>{TITULO}</td>
			<td>
				<input type="number" value="1" name="cantidad[]" min="1" id="cantidad_{ID}" 
					class="form-control col-sm-4" />
			</td>
			<td><span id="total_detalle_{ID}"></span></td>
			<td><a class="btn btn-sm btn-danger" href="#" onclick="utils.eliminarDetalle({ID})">X</a></td>
		</tr>
	</tbody>
</table>
</body>
</html>
