<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{plantillas/principal :: head}"></head>
<style>
	.list-group-item {
	    padding-top: 5px;
	    padding-bottom: 5px;
	}
</style>
<body>
	<header th:replace="~{plantillas/principal :: header}"></header>

	<div class="container  py-4">

		<div class="card bg-light">

			<div class="card-header">
				<h3 class="text-secondary" th:text="${titulo}"></h3>
			</div>
			
			<h4 class="card-title text-right">
				<a th:href="@{/libreria/ejemplarnuevo/} + ${libro.id}" class="btn btn-outline-success btn-sm mt-3 mr-3">Crear Ejemplar</a>
			</h4>

			<div class="card-body">
				<h4 class="card-title"></h4>
				<img th:if="${#strings.length(libro.caratula) > 0}" th:src="@{/uploads/} + ${libro.caratula}"
					style="max-width: 15%" class="img-thumbnail rounded float-left">
				<ul class="list-group">
					<li class="list-group-item"><b>Titulo: </b> <i th:text="${libro.titulo}"></i></li>
					<li class="list-group-item"><b>Editorial: </b> <i th:text="${libro.editorial.nombreCompleto}"></i></li>
					<li class="list-group-item"><b>Edición: </b> <i th:text="${libro.edicion}"></i></li>
					<li class="list-group-item"><b>Año: </b> <i th:text="${libro.anio}"></i></li>
					<li class="list-group-item"><b>ISBN: </b> <i th:text="${libro.isbn}"></i></li>
				</ul>

				

				<div class="text-right mt-3">
					<a th:href="@{/libreria/libroslistar}" class="btn btn-sm btn-light">&laquo; regresar</a>
				</div> 
			</div>
		</div>
	</div>
	<footer th:replace="~{plantillas/principal :: footer}"></footer>
</body>

</html>